@import url('https://fonts.googleapis.com/css?family=Orbitron');

.bg {
    position: absolute;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.btn {
    margin-top: 25px;
    height: 50px;
    width: 200px;
    font-size: 32px;
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    position: absolute;
    top: 15%;
    left: 50%;

    transform: translate(-50%, 0);

    font-family: 'Orbitron';
    color: #242526;
}

.time {
    font-size: 7em;

    display: flex;
    gap: 25px;
}

.pb {
    font-size: 3em;
}