.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 20%;
    left: 50%;

    height: 60vh;

    transform: translate(-50%, 0);
    pointer-events: none;
}

.text {
    font-size: 2.3em;
}